body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 98vh;
  background-color: #000;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: row; */
}
button {
  background-color: rgb(97, 91, 91);
  border: 2px solid #000;
  transition: 0.3s;
  padding: 25px 40px;
}
button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid rgb(167, 159, 159);
}
img{
  max-width: 33vw;
  max-height: 100vh;
}